
.container{
    margin: 5 5 5 5;
}
.navbar{
    margin-top: 10px;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: darkgrey;
    border-style: solid;
}

.p-3.mb-4.rounded-3{
    border-color: darkgrey;
    border-style: solid;
    border-width: 0.5px;
    /*background-image: url("/images/mountain.png"); */
    background-repeat: no-repeat;
    background-position: center-bottom;
    background-attachment:scroll;
    margin-top: 30px;
    margin-bottom: 10px;
}

.d-inline-block.align-text-top{
    margin-right: 20px;
}

.col-md-8.fw-lighter.fst-italic.education{
    padding-top: 10px;
}

